
/* dashboard */

<div class="row">
/* issue-feed */
<div class="large-4">
	<%= render :partial => "shared/issue-feed", :controller => "issues", :action => "index" %> 
</div>

/* profile */
<div class="large-8">
	<div class="issue-profile">
		<h3><%= @issue.name %></h3>
		<h4>Constituent Name: <%= @issue.Constituent %>  |  Priority Level: <%= @issue.priority_level %>  |  Status: <%= @issue.status %></h4>
		<p><strong>Description: </strong> 
			<%= @issue.description %>
		</p>

	</div>

</div>
</div> /* end row */

/* issue-status feed 
<div class="row">
<div class="large-8"> /* pull-right */
	<%= render :partial => "shared/status-feed", :controller => "status-issues", :action => "index" %> 

</div>
</div> /* end row */
