<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tammany</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <script type="text/javascript" src="//use.typekit.net/rej1wrw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <!-- header -->
    <div class="header clearfix">
      <div class="left logo"><h2><%= link_to "TAMMANY", root_path %></h2></div>
      
      <div class="right">
        <% if caseworker_signed_in? %>
          <div class="menu"><%= link_to "About", root_path %>    |    <%= link_to('Logout',  destroy_caseworker_session_path, :method => :delete)  %></div>        
       
        <% else %>
          <div class="menu"><%= link_to "About", root_path %>    |    <%= link_to('Login', new_caseworker_session_path)  %></div>
        <% end %>
        </div>
      </div>
    </div>

   
   

      <%= yield %>
  
      <div class="row footer">
        <div class="large-6 large-offeset-1">
        </div>
        <div class="large-4">
        </div>
      </div>


    <%= javascript_include_tag "application" %>
  </body>
</html>
  </div>